/*
Theme Name: SKT Nutritionist Coach
Theme URI: https://www.sktthemes.org/shop/nutritionist-coach-wordpress-theme
Author: SKT Themes
Author URI: https://www.sktthemes.org
Description: SKT Nutrionist Coach is easy to use, simple, scalable and flexible. It can be applied for industries: sports coach, nutrition coach, health and well being, training, motivation authors, inspiration advisors, personal development, life, psychotherapist, psychotherapy, therapy, online psychological counselor, finance, wealth, entrepreneurs, public speakers, tutor, guide, mentor, dating coaches, relationship advice, copywriters, therapists, medical practitioners, instructors, leaders, course creators, tyle coaches, personal stylists, fashion consultants, and empowerment experts. SEO optimized, lead generation possible, ebook plugins, LMS plugin compatible, WooCommerce compatible. Call to action friendly.
Template: skt-coach
Version: 1.5
Tested up to: 6.8
Requires PHP: 5.6
License: GNU General Public License
License URI: https://www.gnu.org/licenses/license-list.html#GPLv2
Text Domain: skt-nutritionist-coach
Tags: two-columns,right-sidebar,full-width-template,custom-background,custom-colors,custom-menu,sticky-post,theme-options,threaded-comments,featured-images,footer-widgets,translation-ready,rtl-language-support,custom-logo,editor-style,custom-header,blog,e-commerce,portfolio

SKT Nutritionist Coach is based on Underscores theme(Underscores is distributed under the terms of the GNU GPL v2 or later).

SKT Nutritionist Coach WordPress Theme has been created by SKT Themes(sktthemes.org), 2024.
SKT Nutritionist Coach WordPress Theme is released under the terms of GNU GPL
*/

.logo p{float:none; text-align:center;}
.mywrap{width: 100%;}
.topheader-area{border-bottom: 1px solid #e5edec; padding:10px 0;}
.topheader-area .container{display: flex; align-items: center; justify-content: space-between; position: relative;}
.phnarea span{display: block; text-align: left; font-size: 16px; font-weight: 600; color: #282828; font-family: 'Assistant'; position: relative;}
.phnarea a{font-size: 22px; font-weight: 600; color: #aacb00; margin-left: 25px; font-family: 'Assistant'; line-height:1.75;}
.phnarea a:hover{color: #00412c;}
.centerlogo{float: none; text-align: center; margin: 0 auto;}
.centerlogo .logo{display: table; float: none !important; margin: 0 auto;}
.appointment span{display: block; text-align: right; font-size: 16px; font-weight: 600; color: #282828; font-family: 'Assistant'; position: relative;}
.appointment a{font-size: 22px; font-weight: 600; color: #aacb00; margin-right: 25px; font-family: 'Assistant'; line-height:1.75;}
.appointment a:hover{color: #00412c;}

.phnarea span::before {content: ''; position: absolute; left: -25px; top: 15px; width: 38px; height: 39px; background: url(images/header-arrow.png); background-size: auto; background-repeat: no-repeat; transform: scaleX(-1);}
.appointment span::before{content: ''; position: absolute; right: -25px; top: 15px; width: 38px; height: 39px; background: url(images/header-arrow.png); background-size: auto; background-repeat: no-repeat;}
body.wp-custom-logo .logo{padding: 20px 0 0 0;}
#navigation{float: none; text-align: center; padding: 0;}
.main-navigation{font-size: 20px; font-family: 'Playfair Display'; font-weight:500;}
.main-navigation ul li a{color: #002927; line-height:80px;}
.main-navigation ul li:hover a, .main-navigation ul li a:focus, .main-navigation ul li a:hover, .main-navigation ul li.current-menu-item a,  .main-navigation ul li.current_page_item a{opacity: 1; color: #1b8b67;}
.main-navigation ul li ul li a{color: #1b8b67;}
.main-navigation ul ul li a:hover, .main-navigation ul ul li a:focus{color: #ffffff !important; background: #1b8b67;}
#sidebar ul li a:hover, #sidebar li a:hover{color:#1b8b67;}
.postmeta a{color:#1b8b67;}
.sticky{border-bottom-color:#1b8b67;}
#logo-main a:focus,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus,
a:focus {
  outline: 2px dotted #198b67;
}

::selection{color: #ffffff; background: #198b67;}
.inner-banner-thumb{min-height:330px; background-color:#198b67;}
.black-title h1{color:#FFF;}
.inner-banner-thumb h1{top:44%; color:#FFF;}
#sidebar h2, #sidebar h3, #sidebar h4, #sidebar h5, #sidebar h6, #sidebar .wp-block-search__label{font-family: 'Playfair Display' !important; color: #282828;}
.screen-reader-text:focus{color:#1b8b67;}
.footer-infobox-left{float: left; width: 33.33%; text-align: left; color:#FFF;}
.footer-infobox-center{float: left; width: 33.33%; text-align: center;}
.footer-infobox-right{float: left; text-align: right; padding: 0; width: 33.33%; color:#FFF;}
.footer-logo{float:none; text-align:center; padding:0;}
.ft-infobox .container{border-bottom:none;}
.footerarea{padding:0px;}
.footerinfobox{padding:50px 0;}
#footer{background-color:#198562;}
.copyright-wrapper{background-color:#198562;}
.copyright-txt{color:#FFF; padding:20px 0;}
.copyright-txt a{color:#aacb00 !important;}
.copyright-txt a:hover{color:#FF0 !important;}
.social-icons a{display: inline-block; height: 60px; line-height: 60px; margin: 10px 5px; text-align: center; width: 60px; border-radius: 100px; transition: 0.6s; -moz-transition: 0.6s; -webkit-transition: 0.6s; -o-transition: 0.6s; background-color:#FFF !important;}
.social-icons a:hover{background-color: #aacb00 !important; color: #fff;}
.social-icons br{display: none;}
.social-icons .fb{background: url(images/icon-fb.png) no-repeat center center;}
.social-icons .tw{background: url(images/icon-tw.png) no-repeat center center;}
.social-icons .in{background: url(images/icon-in.png) no-repeat center center;}
.social-icons .insta {background: url(images/icon-insta.png) no-repeat center center;}
.fot-phone h5{font-size: 22px; color: #ffffff; font-weight: 500; font-family: 'Playfair Display'; margin:0;}
.footer-infobox-left img{vertical-align: middle; margin-right: 20px; float: left;}
#footer .footer-infobox-left .fot-phone span{font-size: 25px; font-weight: 600; font-family: 'Poppins'; line-height: 40px !important; color: #ffffff;}
.cols-3{width: 24.99%; margin: 0 0 0.5% 0; padding:0 15px; float:left;}
.widget-column-4{margin-right: 0 !important;}
.footer-row .widget_nav_menu ul{text-align:left; background:none; padding:0; border-radius:0; margin:0;}
.footer-row ul li a:before{padding-right:0px;}
.footer h2{font-size:26px; font-weight:600;}
.footer h1, .footer h2, .footer h3, .footer h4, .footer h5, .footer h6{font-family: 'Playfair Display'; color:#FFF; position:relative; padding:0 0 40px 0;}
.footer h1:after, .footer h2:after, .footer h3:after, .footer h4:after, .footer h5:after, .footer h6:after{background-color: #ffffff; height: 1px; width: 53px; content: ''; position: absolute; bottom: 9px; left: 0;}
.footer aside.widget{color:#FFF; padding: 0;}
.footer-row .cols-3 ul li a{color:#FFF;}
.footer-row .cols-3 ul li a:hover{color:#003e2a;}
.inner-banner-thumb img{min-height:330px; max-height:330px;}
.ftr-widg{padding-top:40px;}
.ftrbg{background-color:#1b8b67;}
.footer-row .widget_nav_menu ul li{display:block;}
.footer-row .cols-3 ul li a:hover, .footer-row .cols-3 ul li.current_page_item a{color:#003e2a !important;}